@import "./reset.styl"
@import "./loader.styl"

body
  background #2C3643

.wrapper
  img
    display inline-block
    margin 20px
    width 200px
    border solid 5px #fff

#box
  width 100px
  height 100px
  background #fff