@import "../utils/reset.styl"
@import "../utils/x-loader.styl"
body
  background #2C3643

.wrapper
  display none
  .content
    margin 30px 0
    h1
      font-size 28px
      text-align center
      color #fff
      line-height 2
    img
      $width = 640px
      $margin = 10px
      $border = 5px
      display inline-block
      margin $margin
      width ($width / 2) - $margin * 2 - $border * 2
      height 200px
      border solid $border #fff
.transition-loader
  p
    font-size 18px
    margin-top 24px
#box
  width 100px
  height 100px
  background #fff