<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title x-build
  body
    #loader.transition-loader
      .transition-loader-inner
        i
        i
        i
        i
        i
        i
    #xl-wrapper.wrapper
      img(data-src=require("./assets/images/1.jpg") data-priority="true")
      img(data-src=require("./assets/images/2.jpg") data-priority="true")
      img(data-src=require("./assets/images/3.jpg"))
      img(data-src=require("./assets/images/4.jpg"))